p{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: rgb(255, 0, 0);
	background-color: rgb(128, 186, 212);
	/* background-image: url(123.png); */
}
body{
	/* background-color: blanchedalmond ; */
	background-image: url(bmw.jpg);
	background-position: top;
	background-repeat:no-repeat;
	background-size:cover;
}
.ab{
	color:crimson;
	font-size: 50px;
	
	
}
.h{
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: space-between;
	color: red;
}
.set{
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	justify-content: space-evenly;
	color: rgb(21, 255, 0);
}
.ramya{
	position:absolute;
	left: 16px;
	bottom: 400px;
	margin: auto;
	border: 20px solid rgb(244, 14, 14);


}
h1{
	color:tomato;
	font-size: 100px;
	/* text-align:center ; */
		
}
.kaviya{
	position:absolute;
	display: flex;
	/* justify-content: right; */
	right: 16px;
	margin: auto;
	border: 20px solid rgb(245, 14, 14);
}